.slick-modal-overlay {
  background: rgba(47, 50, 56, 0.95);
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 1100;
}
.slick-modal {
  display: block !important;
  background: #FFF;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 1101;
  overflow-y: auto;
  margin: auto;
}
.slick-modal-close:before {
  font-family: 'Helvetica', Arial, sans-serif;
  content: '\00D7';
  cursor: pointer;
  background: transparent;
  border-radius: 3px;
  color: #bbb;
  font-size: 26px;
  font-weight: 400;
  height: 30px;
  line-height: 26px;
  position: absolute;
  right: 3px;
  text-align: center;
  top: 3px;
  width: 30px;
}
